workflows/CHATBOT_MULTIHERRAMIENTA.json
{
  "name": "CHATBOT_MULTIHERRAMIENTA",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "f24f89d8-1c82-4fdb-aa32-17c46d4595ab",
      "name": "When chat message received",
      "webhookId": "9ead61f6-e7cf-4013-86b5-9f43bb4acbd0"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "b6b62c84-7b9e-462f-ba3f-6c7eb5934983",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "2lW6MU8TmI8NwPCF",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text.split('|')[0] }}",
                    "rightValue": "WIKI",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "b7137a7f-c588-4769-9f6c-142f059b7679"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f7f665e9-a83d-4a16-b547-2b6d2ce2998c",
                    "leftValue": "={{ $json.text.split('|')[0] }}",
                    "rightValue": "CLIMA",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e4f0c72e-fc73-4222-98d3-9fdb4e105286",
                    "leftValue": "={{ $json.text.split('|')[0] }}",
                    "rightValue": "PAIS",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "263f7851-b711-4227-ad23-1f73a368e95d",
                    "leftValue": "={{ $json.text.split('|')[0] }}",
                    "rightValue": "NADA",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "ffa174f1-891b-41ac-bd8b-4109fd842ac9",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?latitude={{ $json.results[0].latitude }}&longitude={{ $json.results[0].longitude }}&current_weather=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        -16
      ],
      "id": "f2a5bd55-df68-44d0-8ce7-f9c934e2b03d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un asistente experto en interpretación de datos de APIs. Tu objetivo es convertir datos técnicos en una respuesta natural y educativa para el usuario.\n\nCONFIGURACIÓN DE RESPUESTA:\nResponde siempre en Español.\nSé breve y directo.\nUtiliza ÚNICAMENTE los datos proporcionados. No inventes información ni des más informacion de la que se pide.\n\nGUÍA DE INTERPRETACIÓN (Solo para Clima):\nSi recibes un 'weathercode', tradúcelo según esta tabla:\n\n0: Cielo despejado ☀️\n1, 2, 3: Parcialmente nublado ⛅\n45, 48: Niebla 🌫️\n51, 53, 55: Llovizna 🌦️\n61, 63, 65: Lluvia 🌧️\n71, 73, 75: Nieve ❄️\n95, 96, 99: Tormenta ⚡\nCONTEXTO ACTUAL:\nPREGUNTA DEL USUARIO: {{ $('When chat message received').item.json.chatInput }}\nDATOS CRUDOS DE LA HERRAMIENTA: {{ JSON.stringify($json) }}\nInstrucción final: Basándote en el código de clima anterior (si existe) y en los datos crudos, redacta la respuesta final para el usuario."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1216,
        -16
      ],
      "id": "b727fb06-79bd-4c8e-b253-4c88a68efa7d",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1264,
        256
      ],
      "id": "f9050dfa-8e44-46d2-be63-d0554f21e9f5",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "2lW6MU8TmI8NwPCF",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "historial_conversaciones",
          "mode": "list",
          "cachedResultName": "historial_conversaciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pregunta": "={{ $('When chat message received').item.json.chatInput }}",
            "respuesta": "={{ $json.text || $json.output }}",
            "herramienta_usada": "={{ $('Basic LLM Chain').item.json.text.split('|')[0] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pregunta",
              "displayName": "pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "respuesta",
              "displayName": "respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "herramienta_usada",
              "displayName": "herramienta_usada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1568,
        -16
      ],
      "id": "0de054c6-f787-4724-aba0-bdc83a729c74",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "caOQHJiq7WfnQuPX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e863918-e164-47e5-9a5c-50942f4368df",
              "name": "output",
              "value": "Lo siento, no he podido identificar tu intención o no tengo información sobre este tema en mis APIs configuradas.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        288
      ],
      "id": "36827d28-89a5-4e32-af8a-c8afba8e9537",
      "name": "nada"
    },
    {
      "parameters": {
        "url": "=https://restcountries.com/v3.1/name/{{ $json.text.split('|')[1] }}?fullText=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        144
      ],
      "id": "3033eb7d-a687-4394-a1e9-ec20bd805337",
      "name": "paises"
    },
    {
      "parameters": {
        "url": "=https://geocoding-api.open-meteo.com/v1/search?name={{ encodeURIComponent($json.text.split('|')[1].trim()) }}&count=1&language=es",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        -16
      ],
      "id": "6de827d7-5929-4ab9-8925-a95962fbafb2",
      "name": "clima"
    },
    {
      "parameters": {
        "url": "=https://es.wikipedia.org/api/rest_v1/page/summary/{{ $json.text.split('|')[1] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "ruthfaouzimeira@gmail,com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        -160
      ],
      "id": "42be97e1-1c66-4a44-a937-b0b4bd673da6",
      "name": "wiki"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2588f74b-deab-4192-b9c4-38ac9ab9a1e7",
              "name": "output",
              "value": "={{ $json.respuesta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        -16
      ],
      "id": "0cdf7e85-7f6d-435d-a281-0fe01c143255",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un micro-servicio de clasificación de texto. Tu respuesta es la entrada de un algoritmo que fallará si añades una sola palabra extra.\n\nFormato OBLIGATORIO de salida: CATEGORIA|BUSQUEDA\nCATEGORIAS permitidas: WIKI, CLIMA, PAIS, NADA.\nEn BUSQUEDA: Pon la entidad principal SIN paréntesis, SIN explicaciones y SIN descripción de lo que haces.\n\nPRIORIDAD DE CATEGORIZACIÓN:\nSi preguntan por fechas, descubrimientos, personas, historia o 'qué es/quién fue' -> WIKI|Nombre (siempre en español)\nEjemplo: '¿Cuándo se descubrió América?' -> WIKI|Descubrimiento de America\n'¿Quién pintó la Mona Lisa?' -> WIKI|Leonardo Da Vinci\nSi preguntan por 'qué tiempo hace', 'clima' o 'temperatura' -> CLIMA|Ciudad\nEjemplo: 'Clima en Madrid' -> CLIMA|Madrid\nSi preguntan por 'capital', 'población' o 'país' -> PAIS|Pais en inglés\nEjemplo: 'Capital de España' -> PAIS|Spain\nSi saludan o hacen charlas triviales -> NADA/Nada\nEjemplo: 'Que como hoy' -> NADA|Nada\n\nREGLA ANTI-ALUCINACIÓN y PROHIBICIONES:\nNO clasifiques como CLIMA nada que no pida explícitamente el tiempo atmosférico.\nNO clasifiques como PAIS nada que no pida datos demográficos/políticos.\nPROHIBIDO poner explicaciones como '(population)' o '(capital)', osea nada entre ().\nPROHIBIDO responder con frases. Solo CATEGORIA|BUSQUEDA."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "c0a24ebc-6b01-48d0-9f72-a2350aae897a",
      "name": "Basic LLM Chain"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "wiki",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "clima",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "paises",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paises": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clima": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wiki": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9c856119-85f5-4b9d-9d10-9b650bb8a532",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d54a3eaa7e6110246fa0c32e26184c8cf31447b5b36c05837ab66906b457f53"
  },
  "id": "tb7XsnlL1UpNKsp7B1Ghb",
  "tags": []
}